Acme Bank - Social Media Risk Monitor.json
{
  "name": "Acme Bank - Social Media Risk Monitor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "id": "53b4bd41-dd77-483c-8107-71917ddc42bd",
      "name": "Poll Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1616,
        112
      ]
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:3100/api/social-posts/unreviewed?limit=1",
        "options": {}
      },
      "id": "1a7df104-a018-4359-b0e5-af437fe25771",
      "name": "Fetch Unreviewed Posts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1392,
        112
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "posts",
        "options": {}
      },
      "id": "d026846c-60c6-42ea-9cd2-6bd86ffc0926",
      "name": "Split Posts",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1168,
        112
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze this social media post for Acme National Bank.\n\nPost ID: {{ $json.id }}\nPlatform: {{ $json.platform }}\nAuthor: {{ $json.author_name }} (@{{ $json.author_handle }})\nContent: {{ $json.content }}\nLikes: {{ $json.likes }} | Shares: {{ $json.shares }} | Comments: {{ $json.comments_count }}\n\nSTEP 1: Call lookupCustomerByHandle with handle \"{{ $json.author_handle }}\" to check if this is a bank customer.\nSTEP 2: Call getActiveIncidents to check for known issues.\nSTEP 3: Based on the tool results, respond with ONLY a JSON object (no markdown, no explanation) with these exact fields:\n{\n  \"is_banking_related\": \"yes\" or \"no\",\n  \"sentiment\": \"positive\" or \"neutral\" or \"negative\" or \"critical\",\n  \"issue_category\": \"Service Outage\" or \"Security Concern\" or \"Fee Complaint\" or \"App Bug\" or \"Fraud Report\" or \"Other\",\n  \"confidence_score\": \"0.92\",\n  \"key_topics\": \"topic1, topic2\",\n  \"suggested_response\": \"your empathetic public reply for negative/critical posts, brief thanks for positive, No response needed for neutral\",\n  \"escalation_target\": \"security_team\" or \"pr_team\" or \"customer_support\" or \"no_escalation\"\n}\n\nEscalation rules: security/fraud/phishing -> security_team, high-engagement negative (>100 likes or >50 shares) -> pr_team, service complaints from identified customers -> customer_support, positive/neutral -> no_escalation. Platinum/private banking customers with complaints always escalate to customer_support.",
        "options": {
          "systemMessage": "You are a social media risk analyst for Acme National Bank. Use your MCP tools to look up the customer and check active incidents, then return your analysis as a JSON object. Only return the JSON, nothing else."
        }
      },
      "id": "c8d60e8f-af6c-44cf-832e-0dbe452800b1",
      "name": "AI Risk Analyst Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -944,
        112
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-haiku-4-5-20251001",
          "mode": ""
        },
        "options": {
          "maxTokensToSample": 4096,
          "temperature": 0.1
        }
      },
      "id": "fd82cae4-5b09-4edd-b846-3047867ff624",
      "name": "Anthropic Claude",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        -1024,
        336
      ],
      "credentials": {
        "anthropicApi": {
          "id": "8KwhjvO35ZC0gSBR",
          "name": "LauraPrivateClaude"
        }
      }
    },
    {
      "parameters": {
        "endpointUrl": "http://host.docker.internal:9091/tools/acme-national-bank-known-incidents-api/mcp",
        "authentication": "bearerAuth",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        -816,
        368
      ],
      "id": "8e0b9432-bb93-4ffa-8c1c-c4318eaf968f",
      "name": "Incidents",
      "credentials": {
        "httpBearerAuth": {
          "id": "HzpWoRa1XI1KyeAJ",
          "name": "ACMEMCPTools"
        }
      }
    },
    {
      "parameters": {
        "endpointUrl": "http://host.docker.internal:9091/tools/acme-national-bank-customer-lookup-api/mcp",
        "authentication": "bearerAuth",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        -640,
        352
      ],
      "id": "b11c6465-e4ee-4f9b-bbab-cc64f9703fb4",
      "name": "customer lookup",
      "credentials": {
        "httpBearerAuth": {
          "id": "HzpWoRa1XI1KyeAJ",
          "name": "ACMEMCPTools"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse the AI agent output and merge with post data\nconst postId = $('Split Posts').item.json.id;\nconst platform = $('Split Posts').item.json.platform;\nconst agentOutput = $input.item.json.output;\n\n// Parse JSON from agent - handle markdown code blocks\nlet analysis;\ntry {\n  let text = agentOutput;\n  // Strip markdown code blocks if present\n  const jsonMatch = text.match(/```(?:json)?\\s*([\\s\\S]*?)```/);\n  if (jsonMatch) text = jsonMatch[1];\n  // Strip any leading/trailing non-JSON text\n  const braceStart = text.indexOf('{');\n  const braceEnd = text.lastIndexOf('}');\n  if (braceStart !== -1 && braceEnd !== -1) {\n    text = text.substring(braceStart, braceEnd + 1);\n  }\n  analysis = JSON.parse(text);\n} catch(e) {\n  // Fallback: extract what we can\n  analysis = {\n    is_banking_related: 'yes',\n    sentiment: 'neutral',\n    issue_category: 'Other',\n    confidence_score: '0.5',\n    key_topics: 'parse error',\n    suggested_response: 'No response needed',\n    escalation_target: 'no_escalation'\n  };\n}\n\nreturn {\n  json: {\n    post_id: postId,\n    platform: platform,\n    is_banking_related: analysis.is_banking_related || 'yes',\n    sentiment: analysis.sentiment || 'neutral',\n    issue_category: analysis.issue_category || 'Other',\n    confidence_score: analysis.confidence_score || '0.8',\n    key_topics: analysis.key_topics || '',\n    suggested_response: analysis.suggested_response || 'No response needed',\n    escalation_target: analysis.escalation_target || 'no_escalation'\n  }\n};"
      },
      "id": "d2f96d47-2b76-466c-804f-cf65caa86fc9",
      "name": "Parse Agent Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -656,
        112
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3100/api/analysis",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ post_id: $json.post_id, is_banking_related: $json.is_banking_related, sentiment: $json.sentiment, issue_category: $json.issue_category, confidence_score: $json.confidence_score, key_topics: $json.key_topics, suggested_response: $json.suggested_response, escalation_target: $json.escalation_target }) }}",
        "options": {}
      },
      "id": "141d9d4b-21e7-4d23-85c8-f5f7e2805312",
      "name": "Save Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -448,
        112
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "needs-escalation",
              "leftValue": "={{ $json.escalation_target }}",
              "rightValue": "no_escalation",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1d266d33-68b9-4ce0-938a-4c7f9be6fa8c",
      "name": "Needs Escalation?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -224,
        112
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3100/api/escalations",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ post_id: $('Parse Agent Output').item.json.post_id, escalation_target: $('Parse Agent Output').item.json.escalation_target, severity: $('Parse Agent Output').item.json.sentiment === 'critical' ? 'critical' : 'medium', notes: 'Auto-escalated by AI. Issue: ' + $('Parse Agent Output').item.json.issue_category + '. Topics: ' + $('Parse Agent Output').item.json.key_topics }) }}",
        "options": {}
      },
      "id": "854c743e-6a79-4e6b-bdc8-7301865234f0",
      "name": "Create Escalation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-response",
              "leftValue": "={{ $('Parse Agent Output').item.json.suggested_response }}",
              "rightValue": "No response needed",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b29985a7-a4df-4236-83b5-439d7f47992d",
      "name": "Response Needed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        0,
        208
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3100/api/responses",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ post_id: $('Parse Agent Output').item.json.post_id, response_text: $('Parse Agent Output').item.json.suggested_response, response_platform: $('Parse Agent Output').item.json.platform, drafted_by: 'n8n-ai-workflow' }) }}",
        "options": {}
      },
      "id": "b01b197a-9658-4ee8-acf7-8d3e3823eacb",
      "name": "Save Draft Response",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        208
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Poll Every 5 Minutes": {
      "main": [
        [
          {
            "node": "Fetch Unreviewed Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Unreviewed Posts": {
      "main": [
        [
          {
            "node": "Split Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Posts": {
      "main": [
        [
          {
            "node": "AI Risk Analyst Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Risk Analyst Agent": {
      "main": [
        [
          {
            "node": "Parse Agent Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Agent Output": {
      "main": [
        [
          {
            "node": "Save Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Analysis": {
      "main": [
        [
          {
            "node": "Needs Escalation?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs Escalation?": {
      "main": [
        [
          {
            "node": "Create Escalation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response Needed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Response Needed?": {
      "main": [
        [
          {
            "node": "Save Draft Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Claude": {
      "ai_languageModel": [
        [
          {
            "node": "AI Risk Analyst Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Incidents": {
      "ai_tool": [
        [
          {
            "node": "AI Risk Analyst Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "customer lookup": {
      "ai_tool": [
        [
          {
            "node": "AI Risk Analyst Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "95d85299-557c-48d9-a8e9-afabd73d417c",
  "meta": {
    "instanceId": "4476a944875726f60a9bafca819ea20395f7963fd204886488c1e4d58cc830b0"
  },
  "id": "8OP7U2Uez2t2C1i3",
  "tags": [
    {
      "name": "social-media",
      "id": "HJOyqJdzluA5nXFO",
      "updatedAt": "2026-04-09T17:39:56.326Z",
      "createdAt": "2026-04-09T17:39:56.326Z"
    },
    {
      "updatedAt": "2026-01-22T21:11:45.602Z",
      "createdAt": "2026-01-22T21:11:45.602Z",
      "id": "L0QoQQrCgcyOGDs4",
      "name": "ai-agent"
    },
    {
      "updatedAt": "2026-01-22T21:11:45.597Z",
      "createdAt": "2026-01-22T21:11:45.597Z",
      "id": "Y9gJKGujTkXeJDOb",
      "name": "mcp"
    },
    {
      "name": "risk-monitoring",
      "id": "k0ebRdGvbBiy7iAJ",
      "updatedAt": "2026-04-09T17:39:56.322Z",
      "createdAt": "2026-04-09T17:39:56.322Z"
    }
  ]
}